<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main class="page">
        <h1>login</h1>
        <section class="card">
            <form action="/users/login" method="post">
                <div>
                    <div>
                        <label>email ID</label>
                        <input type="text" required name="email" placeholder="example@gmail.com"/>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="text" required name="password"/>
                    </div>
                    <div>
                        <button type="submit">login</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
</html>